:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

/* Reset styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Outfit", sans-serif;
    background-color: var(--stone-100);
}

h1,
h3 {
    font-family: "Young Serif", serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 2px;
    color: var(--stone-900);
}


h3 {
    font-size: 2rem;
    color: var(--brown-800);
    margin-bottom: 1rem;
}

h3.rose {
    color: var(--rose-800);
    font-family: "Outfit", sans-serif;
    font-size: 1.5rem;
}

span.brown {
    color: var(--brown-800);

}


span.bold {
    font-weight: 700;
}

ul,
ol {
    /* Default 'outside' ensures bullet/number alignment with text */
    list-style-position: outside;
    padding-left: 2rem;
}

li {
    margin: 1rem 0;
    font-size: 1.2rem;
    padding-left: 2rem;
}

header,
section,
.attribution {
    background-color: var(--white);
    padding: 2rem;
}

p,
table {
    font-size: 1.2rem;
    margin-top: 2rem;
}

/* main styling */

.container {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    margin: 0 auto;
    background-color: var(--white);
}

.preparation {
    background-color: var(--rose-50);
    border-radius: 10px;
}

.ingredients,
.instructions {
    border-bottom: 2px solid var(--stone-150);
}

table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0 1rem;
}


table td {
    border-bottom: 2px solid var(--stone-150);
    padding: 0 2rem 1rem;
    /* Consistent spacing */

}

table tr:last-child td {
    border-bottom: 0;
}

/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Large screen */
@media screen and (min-width: 376px) {
    .wrapper {
        display: flex;
        justify-content: center;

    }

    .container {
        max-width: 960px;
        /* Ensures no overflow on small screens */
        width: calc(100% - 2rem);
        margin: 4rem auto;
        padding: 2rem;
        border-radius: 1rem;
    }


    #logo {
        border-radius: 10px;
    }

    header,
    section,
    .attribution {
        padding-left: 0;
        padding-right: 0;
    }

    .preparation {
        padding: 2rem;
    }
}